---
Language:        Cpp
BasedOnStyle:  WebKit

AllowAllArgumentsOnNextLine: false
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Allman
ColumnLimit: 80
SpaceAfterCStyleCast: true

...

